altair
numpy
pandas
pydeck
streamlit
pandas
pdfminer.six
python-docx
openpyxl
sentence-transformers
faiss-cpu
openai==0.28
doctr
transformers
pymupdf
pytesseract
easyocr
pdf2image
dataframe_image
torch
spacy==3.2.0
pydantic==1.8.2
matplotlib
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
